<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.littlecorgi.puzzle">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/puzzle_ic_launcher"
        android:label="@string/puzzle_app_name"
        android:roundIcon="@mipmap/puzzle_ic_launcher_round"
        android:supportsRtl="true"
        android:networkSecurityConfig="@xml/puzzle_network_security_config"
        android:theme="@style/puzzle_AppTheme">
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".PuzzleActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".edit.EditActivity" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.hansion.chosehead"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/puzzle_filepaths" />
        </provider>
    </application>

</manifest>