<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.littlecorgi.puzzle">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:theme="@style/puzzle_AppTheme"
        android:networkSecurityConfig="@xml/puzzle_network_security_config"
        android:requestLegacyExternalStorage="true">
        <activity android:name=".activity.FilterActivity" />
        <activity android:name=".activity.EditActivity" />
        <activity android:name=".activity.PuzzleActivity" />
        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>

</manifest>